/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   speak for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */

pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.string { color: blue; }
.number {  }
.boolean { font-weight:bold; }
.null { font-weight:bold; }
.key { font-weight:bold; }


.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('/images/loading14.gif') 
                50% 50% 
                no-repeat;
}

fieldset {
    border: 0 none;
    margin: 0;
    padding: 0;
}

fieldset label {
    color: #000000;
    font-size: 11pt;
    font-weight: normal;
    white-space: nowrap;
}

fieldset label.n:after {
    content: ":";
}

fieldset label.n {
    display: block;
    float: left;
    margin-top: 5px;
    vertical-align: bottom;
    white-space: nowrap;
    width: 160px;
}

span.info {
    font-size: 9pt;
    height: 2em;
    white-space: nowrap;
}



/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}

body {
	margin: 0px;
	padding: 0px;
	font-family: alpha;
	background: white;
	background-color: rgb(255, 255, 255);
}

/* Main Header */
header {
	background-image: -moz-linear-gradient(bottom, #FFFFFF, #D8D8D8);
	background-image: -o-linear-gradient(bottom, #FFFFFF, #D8D8D8);
	background-image: -webkit-linear-gradient(bottom, #FFFFFF, #D8D8D8);
	background-image: -chrome-linear-gradient(bottom, #FFFFFF, #D8D8D8);
	background-image: -ms-linear-gradient(bottom, #FFFFFF, #D8D8D8);
	background-image: linear-gradient(bottom, #FFFFFF, #D8D8D8);
	background-color: #E8E8E8;
}

.jquery-datatable {
}

.rightAlign {
	float: right;
	margin: 0;
	vertical-align: bottom;
	display: table-cell;
	padding-right: 8px;
	font-size: 11px;
}
.centrage {
	text-align: center;
}

.container {
	display: table;
	width: 100%;
	height: 100%;
}

.middle {
	display: table-cell;
	vertical-align: middle;
}

.inner {
	display: table;
	margin: 0 auto;
}

#main-header {
	z-index: 9999;
	width: 100%;
	border: 1px solid #A2A2A2;
	padding: 2px;
	display: table;
}

div.centered {
	margin: auto;
}

div.centered table {
	margin: 0 auto;
	text-align: left;
}

#sub-header {
	height: 28px;
	font-size: 14px;
	border: 1px solid #A2A2A2;
	position: relative;
}

#divLogin {
	background-color: #E8E8E8;
}


#logo-label {
	position: relative;
	color: rgba(102, 0, 0, 95);
	z-index: 100;
	top: -12px;
	font-size: 15px;
}

#logo {
	padding-top: 2px;
}

#logo-container {
	width: 65px;
}

#header-title {
	display: table-cell;
}

.textarea-container {
	padding: 0 -1px; /* for left and right border of text area */
	margin: 8px;
	padding: 10px;
	width: 100%;
}

#requete {
	margin: 0 -1px; /* for left and right border of text area */
	border: 1px solid buttonshadow;
	padding-left: 10px;
	padding-bottom: 4px;
	width: 98%; /* left padding + right padding + width = 100% */
	resize: none;
	font-size: 13px;
}

#logo-container {
	margin: 0;
	padding: 0;
	display: table-cell;
}


/* Main section */
#main-content {
	display: table;
	width: 100%;
}

#left-section,#right-section {
	display: table-cell;
	width: 50%;
	border: 1px solid #e8e8e8;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	word-wrap: break-word;
}

#rightSectionContainer {
	display: table;
}

#objectList {
	margin-left: 20px;
}

.objectTabContainer {
	display: inline;
	vertical-align: top;
}

#left-label,#right-label,#top-label {
	font-size: 16px;
	font-style: italic;
	font-weight: bold;
}

ul.jqtree-tree .jqtree-title.green {
	color: #9BCCB3;
}

ul.jqtree-tree .jqtree-title.lightgreen {
	color: #C2FFE0;
}

ul.jqtree-tree .jqtree-title.gray {
	color: #B2B2B6;
}

ul.jqtree-tree .jqtree-title.black {
	color: black;
}

#zoomSelector {
	vertical-align: top;
}

#zoomSelection {
	float: right;
	display: inline-block;
}

#file {
	display: none;
}

​
#header-login-title h4 {
	margin-left: 5px;
}


#formLogin label {
	font-size: 16px;
}

@media ( max-width : 320px) {
	#leftInfo {
		display: none;
	}
}