@media ( max-width : 400px) {
	nav#header-nav {
		width: 90px;
	}
}

@media ( max-width : 500px) {
	#first,#previous,#addReq,#next,#last {
		width: 26px;
	}
	nav#header-nav {
		width: 190px;
	}
	img#logo {
		content: url('../images/logo-lis-75.gif');
	}
	button#first img {
		content: url('../images/control-left-off-icone-8793-11.png');
	}
	header#main-header {
		height: 75px;
	}
	label#logo-label {
		font-size: 17px;
	}
	div>#logo {
		padding-top: 1px;
	}
	.textarea-container textarea {
		font-size: 13px;
	}
	div#logo-container {
		width: 76px;
	}
	div#session {
		padding-right: 6px;
		font-size: 8px;
	}
	#sub-header {
		font-size: 10px;
	}
	#left-label,#right-label,#top-label {
		font-size: 12px;
	}
}