html,body {
	background-color: rgb(255, 255, 255);
	margin: 0;
	padding: 0;
}

header {
	background-image: -moz-linear-gradient(bottom, #FFFFFF, #D8D8D8);
	background-image: -o-linear-gradient(bottom, #FFFFFF, #D8D8D8);
	background-image: -webkit-linear-gradient(bottom, #FFFFFF, #D8D8D8);
	background-image: -chrome-linear-gradient(bottom, #FFFFFF, #D8D8D8);
	background-image: -ms-linear-gradient(bottom, #FFFFFF, #D8D8D8);
	background-image: linear-gradient(bottom, #FFFFFF, #D8D8D8);
	background-color: #E8E8E8;
	padding: 5px;
	position: fixed;
	z-index: 9999;
	top: 0px;
	margin-top: -1px;
	width: 100%;
	height: 75px;
}

header label {
	color: rgba(102, 0, 0, 95);
	position: absolute;
	float: left;
	font-weight: bold;
	margin-top: 20px;
	font-size: 20px;
	z-index: 100;
	text-shadow: 1.5px 1.5px white, 1.5px -1.5px white, -1.5px 1.5px white,
		-1.5px -1.5px white;
}

header #logo {
	padding-top: 10px;
	width: 90px;
	height: 90px;
}

header img {
	margin-top: -20px;
}

nav {
	top: 22px;
	width: 100%;
	margin-left: 6px;
}

input[type="submit"],input[type="button"],button {
	background: none;
	border: none;
}

button img {
	margin: -5px;
}



#nav_attributs {
	margin-left: -33px;
	float: left;
}


#nav_vues {
	margin-left: 150px;
}

#menu-mobile {
	display: none;
	background: #F7F7F7;
	position: absolute;
	z-index: 99999;
	bottom: 43px;
	left: 0px;
	border: 2px solid #000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	margin: 0px;
	margin-left: 34px;
	padding: 10px 5px 10px 1px;
}

#vues {
	display: none;
}

#vues:hover>#menu-mobile {
	display: block;
}

a:link,a:visited {
	font-weight: bold;
	outline: medium none;
	text-decoration: none;
}

#addReqer {
	height: 35px;
}


#requete {
	width: 700px;
	height: 25px;
	padding: 5px 8px;
	color: rgb(140, 17, 20);
	font-size: 20px;
	border: medium none;
	background-color: rgb(255, 255, 255);
	border-radius: 4px;
}

#object {
	display: inline-block;
	margin: 5px;
	border-style: ridge;
	border-width: 5px;
}

#object:hover {
	border-color: rgb(250, 0, 0);
	font-weight: bold;
}

#object p {
	text-align: center;
}

#session {
	float: right;
	margin-right: 12px;
	font-weight: bold;
	color: rgb(140, 17, 20);
	font-size: 16px;
}

#service {
	display: inline-block;
	font-weight: bold;
	color: rgb(140, 17, 20);
	margin-left: 10px;
}

@media ( max-width : 259px) {
	header {
		height: 45px;
	}
	header #logo {
		visibility: hidden;
	}
	header label {
		visibility: hidden;
	}
	nav {
		top: 14px;
		margin-left: 4px;
	}
	#requete {
		width: 130px;
		height: 13px;
		font-size: 10px;
	}
	#session {
		position: fixed;
		text-align: right;
		top: 3px;
		margin-right: 8px;
		font-size: 8px;
	}
	input[type="submit"],input[type="button"],button {
		vertical-align: bottom;
		padding-top: 2px;
		padding-left: 2px;
		padding-right: 3px;
		margin: -1px;
	}
	#nav_vues {
		margin-left: 44px;
	}
	#vues {
		display: inline;
	}
	#menu-pc {
		display: none;
	}
	#menu-mobile {
		bottom: 34px;
	}
}

@media ( min-width :260px) and (max-width : 319px) {
	header {
		height: 45px;
	}
	header #logo {
		visibility: hidden;
	}
	header label {
		visibility: hidden;
	}
	nav {
		top: 15px;
		margin-left: 4px;
	}
	#requete {
		width: 190px;
		height: 13px;
		font-size: 11px;
	}
	#session {
		float: right;
		margin-right: 8px;
		font-size: 9px;
	}
	input[type="submit"],input[type="button"],button {
		vertical-align: bottom;
		padding-top: 2px;
		padding-left: 2px;
		padding-right: 3px;
		margin: -1px;
	}
	#nav_vues {
		margin-left: 45px;
	}
	#vues {
		display: inline;
	}
	#menu-pc {
		display: none;
	}
	#menu-mobile {
		bottom: 36px;
	}
}

@media ( min-width : 320px) and (max-width : 479px) {
	header {
		height: 50px;
	}
	header #logo {
		visibility: hidden;
	}
	header label {
		visibility: hidden;
	}
	nav {
		margin-left: 4px;
		top: 16px;
	}
	#requete {
		width: 220px;
		height: 13px;
		font-size: 12px;
		padding: 5px 8px;
	}
	#session {
		float: right;
		margin-right: 8px;
		font-size: 10px;
	}
	input[type="submit"],input[type="button"],button {
		vertical-align: bottom;
		padding-top: 2px;
		padding-left: 2px;
		padding-right: 3px;
		margin: -1px;
	}
	#nav_vues {
		margin-left: 60px;
	}
	#vues {
		display: inline;
	}
	#menu-pc {
		display: none;
	}
	#menu-mobile {
		bottom: 39px;
	}
}

@media ( min-width : 480px) and (max-width : 639px) {
	header {
		height: 55px;
	}
	header #logo {
		padding-top: 12px;
		width: 70px;
		height: 70px;
	}
	header label {
		font-size: 16px;
	}
	nav {
		top: 17px;
		margin-left: 4px;
	}
	#requete {
		width: 280px;
		height: 14px;
		font-size: 14px;
		padding: 5px 8px;
	}
	#session {
		float: right;
		margin-right: 8px;
		font-size: 12px;
	}
	input[type="submit"],input[type="button"],button {
		vertical-align: bottom;
		padding-top: 2px;
		padding-left: 2px;
		padding-right: 3px;
	}
	#nav_vues {
		margin-left: 60px;
	}
	#vues {
		display: inline;
	}
	#menu-pc {
		display: none;
	}
	#menu-mobile {
		bottom: 41px;
	}
}

@media ( min-width : 640px) and (max-width : 759px) {
	header {
		height: 60px;
	}
	header #logo {
		padding-top: 8px;
		width: 80px;
		height: 80px;
	}
	header label {
		font-size: 17px;
	}
	section {
		margin-top: 69px;
	}
	nav {
		margin-left: 4px;
		top: 18px;
	}
	#requete {
		width: 350px;
		height: 19px;
		font-size: 15px;
		padding: 5px 8px;
	}
	#session {
		float: right;
		margin-right: 8px;
		font-size: 14px;
	}
	input[type="submit"],input[type="button"],button {
		vertical-align: bottom;
		padding-top: 3px;
		padding-left: 3px;
		padding-right: 3px;
	}
	#nav_vues {
		margin-left: 80px;
	}
	#vues {
		display: inline;
	}
	#menu-pc {
		display: none;
	}
}

@media ( min-width : 760px) and (max-width : 919px) {
	header {
		height: 65px;
	}
	header #logo {
		padding-top: 8px;
		width: 85px;
		height: 85px;
	}
	header label {
		font-size: 18px;
	}
	nav {
		top: 19px;
		margin-left: 5px;
	}
	#requete {
		width: 400px;
		height: 20px;
		font-size: 17px;
		padding: 5px 8px;
	}
	input[type="submit"],input[type="button"],button {
		vertical-align: bottom;
		padding-top: 3px;
		padding-left: 3px;
		padding-right: 3px;
	}
	#session {
		float: right;
		margin-right: 8px;
		font-size: 14px;
	}
	#nav_vues {
		margin-left: 90px;
	}
}

@media ( min-width : 920px) and (max-width : 1060px) {
	header {
		height: 70px;
	}
	header #logo {
		padding-top: 7px;
		width: 85px;
		height: 85px;
	}
	header label {
		font-size: 19px;
	}
	nav {
		top: 21px;
		margin-left: 6px;
	}
	#requete {
		width: 550px;
		height: 23px;
		font-size: 18px;
	}
	#session {
		float: right;
		margin-right: 10px;
		font-size: 15px;
	}
	#nav_vues {
		margin-left: 135px;
	}
}