body {
	margin: 0px;
	font-family: alpha;
	background: white;
}

section {
	display: table;
	width: 100%;
	border-collapse: separate;
	border-spacing: 20px;	
	margin-top: 68px;
	padding-bottom: 30px;
	color: #000;
	
}

ul.jqtree-tree .jqtree-title.green {
  color: #88B29D;
}

ul.jqtree-tree .jqtree-title.lightgreen {
  color: #C2FFE0;
}

ul.jqtree-tree .jqtree-title.gray {
  color: gray;
}

ul.jqtree-tree .jqtree-title.black {
  color: black;
}

.jstree-default a.jstree-search { color:aqua; }

section > div {
	display: table-cell;
	width: 50%;
	border: 1px solid #e8e8e8;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	word-wrap: break-word;
}

section > div > h3, div#h3 {
	height: 38px;
	line-height: 38px;
	
	margin: 0px;
	padding-left: 10px;
	
	font-size: 16px;
	color: #323232;
	
	background: #f1f1f1;
	border-bottom: 1px solid #e8e8e8;
}

section > div > #attributs, section > div > #objects{
	height: 100%;
	overflow-y: auto;
	margin: 0px;
}

section div#container {
	width: 100%;
	height: 30px;
	
	background: #f1f1f1;
	border-top: 1px solid #e8e8e8;
}
section div#pagination {
	display: table;
	height: 30px;
	border-spacing: 0px;
	border-collapse: collapse;
	margin: auto;	
	
	text-align: center;
	vertical-align: middle;
}
section div#pagination > *{
	display: table-cell;
	vertical-align: middle;
}
section div#pagination img {
	width: 20px;
	height: 20px;
	vertical-align: middle;
}

#attributs.jqtree-loading:after {
    content: url(../images/spinner.gif);
}
.jqtree-tree .jqtree-loading > div .jqtree-title:after {
    content: url(../images/spinner.gif);
    margin-left: 8px;
}